/* Color pallette:
 - scrollbar: #606060 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scrollbar-color: rgb(96, 96, 96) rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background: rgb(96, 96, 96);
}

body {
  background-color: white;
  min-height: 3000px;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 1.17rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

.arrow.icon-container {
  background-color: white;
  border-radius: 100%;
}

.arrow.icon {
  --icon-size: 34; /* Change this value to change entire icon size scalably (square) */
  --unit: 1px; /* Use this to decide what the size of the icon is measured in. (ex. "1%", "1px", 1vw" etc.) */
  --icon-color: #0f0f0f; /* Change this too, self explanitory */
}