.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px;
}

.section {
  height: 100%;
  display: flex;
  align-items: center;
}

/* All sections */

.left.section {
  background-color: pink;
  /* width: 200px; */
}

.search.section {
  flex: 1;
  display: flex;
  background-color: lightblue;
  max-width: 750px;
}

.right.section {
  background-color: pink;
  width: 285px;
}

/* Left section */

.hamburger.icon-container {
  padding: 7px;
  margin: 0 2px;
  border-radius: 100%;
}

.hamburger.icon {
  --icon-size: 28; /* Change this value to change entire icon size scalably (square) */
  --unit: 1px; /* Use this to decide what the size of the icon is measured in. (ex. "1%", "1px", 1vw" etc.) */
  --icon-color: black; /* Change this too, self explanitory */
  border-radius: calc(var(--icon-size) * var(--unit));
}

.hamburger.icon-container:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.header .logo-container {
  width: 110px;
  height: 20px;
  margin: 0 17px;
}

.header .youtube-logo {
  /* display: inherit; */
  width: 100%;
  height: 100%;
}

/* Search section */

.search-bar {
  flex: 1;
  width: 0px;
  height: 45px;
  padding: 0 4px 0 16px;
  margin-left: 72px;

  border: solid 1px #c6c6c6;
  border-right: 0;
  border-radius: 45px 0 0 45px;
  box-shadow: inset 0px 1px 2px #eee; /* rgba(150, 150, 150, .3) */

  font-family: "roboto", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.search-button-container {
  display: flex;
  width: 64px;
  height: 45px;

  background-color: rgba(211, 211, 211, .2);
  border: solid 1px grey;
  border-radius: 45px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  place-content: center;
  place-items: center;
}

.search-button-container:hover {
  background-color: rgba(211, 211, 211, .5);
}

.search-button {
  width: 60%;
  height: 60%;
  margin: auto;
  object-fit: contain;
}

@media (max-width: 656px) {
  .header {
    padding: 0 8px;
  }
}