.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 60px;
  padding: 0 16px;

  background-color: rgba(0, 0, 0, 0);
}

.section {
  height: 100%;
  display: flex;
  align-items: center;
}

/* All sections */

.left.section {
  /* background-color: pink; */
  /* width: 200px; */
}

.search.section {
  flex: 1;
  display: flex;
  /* background-color: lightblue; */
  max-width: 750px;
}

.right.section {
  /* background-color: pink; */
  width: 285px;
}

/* Left section */

.hamburger.icon-container {
  padding: 7px;
  margin: 0 2px;
  border-radius: 100%;
}

.hamburger.icon {
  --icon-size: 28; /* Change this value to change entire icon size scalably (square) */
  --unit: 1px; /* Use this to decide what the size of the icon is measured in. (ex. "1%", "1px", 1vw" etc.) */
  --icon-color: black; /* Change this too, self explanitory */
  border-radius: calc(var(--icon-size) * var(--unit));
}

.hamburger.icon-container:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.header .logo-container {
  width: 110px;
  height: 20px;
  margin: 0 17px;
}

.header .youtube-logo {
  /* display: inherit; */
  width: 100%;
  height: 100%;
}

/* Search section */

.search-bar {
  flex: 1;
  width: 0px;
  height: 42px;
  padding: 0 4px 0 18px;
  margin-left: 72px;

  border: solid 1px #d3d3d3;
  border-right: 0;
  border-radius: 45px 0 0 45px;
  box-shadow: inset 0px 1px 2px #eee; /* rgba(150, 150, 150, .3) */

  font-family: "roboto", Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

.search-button-container {
  display: flex;
  width: 64px;
  height: 42px;

  background-color: #f8f8f8;
  border: solid 1px #d3d3d3;
  border-radius: 45px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  place-content: center;
  place-items: center;
}

.search-button-container:hover {
  background-color: rgba(211, 211, 211, .5);
}

.search-button {
  width: 62%;
  height: 62%;
  margin: auto;
  object-fit: contain;
}

/* Catagories */

.catagories-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 64px;
  margin-left: 80px;
  padding: 0 26px;
}

ul.catagories {
  display: flex;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.catagories-container::-webkit-scrollbar {
  display: none;
}

li.catagory {
  display: inline-block;
  align-content: center;

  height: 35px;
  padding: 0 13px;
  margin-right: 14px;

  color: #0f0f0f;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 500;

  text-wrap: nowrap;
  scroll-snap-align: start;
  cursor: pointer;
}

li.catagory.selected {
  background-color: #0f0f0f;
  color: white;
}

.arrow.icon-container.left {
  position: absolute;
  left: 15px;
}

.arrow.icon-container.right {
  position: absolute;
  right: 15px;
}

/* Blur filter */

.blur-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  height: 120px;
  overflow: visible;

  background-color: rgba(255, 255, 255, .95);
  backdrop-filter: blur(100px);
}



@media(max-width: 870px) {
  .catagories-container {
    margin-left: 0;
  }
}

@media (max-width: 656px) {
  .header {
    padding: 0 8px;
  }

  /* .catagories-container {
    padding: 0 8px;
  } */
}