.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 56px;
  padding: 0 16px;

  background-color: rgba(0, 0, 0, 0);
}

.section {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

/* All sections */

.search.section {
  flex: 1;
  display: flex;
  max-width: 732px;
}

.right.section {
  width: 225px;
}

/* Left section */

.hamburger.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
}

.hamburger.icon {
  --icon-size: 24; /* Change this value to change entire icon size scalably (square) */
  --unit: 1px; /* Use this to decide what the size of the icon is measured in. (ex. "1%", "1px", 1vw" etc.) */
  --icon-color: black; /* Change this too, self explanitory */
  border-radius: calc(var(--icon-size) * var(--unit));
}

.hamburger.icon-container:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.header .logo-container {
  width: 101px;
  height: 20px;
  padding: 18px 14px 18px 16px;
}

.header .youtube-logo {
  /* display: inherit; */
  width: 100%;
  height: 100%;
}

/* Search section */

.search-bar-container{
  flex: 1;
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 4px;
  margin-left: 40px;
}

form.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 0 4px 0 16px;
  margin-left: 32px;

  background-color: white;
  border: solid 1px #d3d3d3;
  border-right: 0;
  border-radius: 45px 0 0 45px;
  box-shadow: inset 0px 1px 2px #eee;
}

form.search-bar input {
  width: 100%;
  padding: 1px 0;
  font-family: "roboto", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 40px;

  background-color: #f8f8f8;
  border: solid 1px #d3d3d3;
  border-radius: 0 40px 40px 0;
}

.search-button-container:hover {
  background-color: #f0f0f0;
}

.search-button-icon-container {
  width: 24px;
  aspect-ratio: 1/1;
}

.search-button-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.voice-search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  aspect-ratio: 1/1;
  margin-left: 12px;

  background-color: rgba(0, 0, 0, .05);
  border-radius: 20px;
}

.voice-search-button-container:hover {
  background-color: rgba(0, 0, 0, .1);
}

/* Catagories */

.catagories-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 56px;
  margin-left: 72px;
  padding: 0 24px;
}

ul.catagories {
  display: flex;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.catagories-container::-webkit-scrollbar {
  display: none;
}

li.catagory {
  display: inline-block;
  align-content: center;

  height: 32px;
  padding: 0 12px;
  margin: 12px;
  margin-left: 0;

  color: #0f0f0f;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;

  text-wrap: nowrap;
  scroll-snap-align: start;
  cursor: pointer;
}

li.catagory.selected {
  background-color: #0f0f0f;
  color: white;
}

.arrow.icon-container.left {
  position: absolute;
  left: 15px;
}

.arrow.icon-container.right {
  position: absolute;
  right: 15px;
}

/* Blur filter */

.blur-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  height: 112px;
  overflow: visible;

  background-color: rgba(255, 255, 255, .95);
  backdrop-filter: blur(100px);
}



@media(max-width: 791px) {
  .catagories-container {
    margin-left: 0;
  }
}

@media (max-width: 656px) {
  .header {
    padding: 0 8px;
  }

  /* .catagories-container {
    padding: 0 8px;
  } */
}