.side-nav-bar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;

  width: 64px;
  padding: 0 4px;

  /* background-color: lemonchiffon; */
  z-index: 2000;
}

.side-nav-bar .buttons-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-nav-bar button {
  height: 74px;
  width: 64;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.side-nav-bar button:hover {
  background-color: rgba(0, 0, 0, .05);
}

.side-nav-bar .nav-icon {
  width: 24px;
  height: 24px;
  margin-inline: auto;
  border: none;
}

.nav-icon svg {
  width: 100%;
  height: 100%;
}

.side-nav-bar p {
  margin: 7px 0 0;
  font-size: 1rem;
  /* font-weight: 400; */
}